<!--
<div id="hello"><h1> Hi <%= @user.first_name %> <%= @user.last_name %> ! </h1></div>-->
<section>
 <h1> Welcome <%= @user.first_name %> <%= @user.last_name %> 🧙 </h1>
</section>



<section>
<!-- <h2>My bookings</h2> -->
  <div id="light"></div>
  <div id="dumbledore">
    <p class="quote" id="part1">Discover </p>
    <p class="quote" id="part2">your</p>
    <p class="quote" id="part3">bookings 🛎️</p>
  </div>
</section>



  <% @bookings.each do |booking| %>
  <li>
    <%= link_to booking.activity.name, activity_path(booking.activity.id) %>
    <%= booking.date %>
    <%= booking.activity.price %> $
    <%= booking.status %>
    <%= link_to 'CANCEL', cancel_booking_path(booking), method: :patch %>
  </li>
<% end %>
</ul>

<section>
  <div class="center">
    <% @bookings.each do |booking| %>
      <div class="property-card">
        <!-- <a href="#"> -->
          <div class="property-image">
            <div class="property-image-title">
               <h6>Proposed by <%= booking.activity.user.first_name %></h6>
            </div>
          </div><!-- </a> -->

        <div class="property-description">
          <h5>  <%= link_to booking.activity.name, activity_path(booking.activity.id) %> </h5>
          <p> <%= booking.activity.description %> <br><strong><%= booking.activity.price %>$</strong></br></p>
        </div>

          <div class="property-social-icons">
            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
            <%= link_to 'CANCEL', cancel_booking_path(booking), method: :patch %>
          </div>
      </div>
    <% end %>
</section>












<!-- <h2>My activities</h2> -->
<section>
  <div id="light"></div>
  <div id="dumbledore">
    <p class="quote" id="part1"> Magic </p>
    <p class="quote" id="part2"> activities</p>
    <p class="quote" id="part3">by you 🔮</p>
  </div>
</section>



  <div class="center">
<!--   <ul style="list-style-type:none">
    <li> -->
    <% @activities.each do |activity| %>
      <div class="property-card">
        <!-- <a href="#"> -->
          <div class="property-image">
            <div class="property-image-title">
              <% if activity.booking.present? %>
                <% if activity.booking.status == 'pending' %>
                    <h6>Booked by <%= activity.booking.user.first_name %></h6>
                    <%= link_to 'ACCEPT', accept_booking_path(activity.booking), method: :patch%>
                    <%= link_to 'DECLINE', decline_booking_path(activity.booking), method: :patch%>
                <% elsif activity.booking.status == 'accepted' %>
                    <h6>Booked by <%= activity.booking.user.first_name %></h6>
                    <%= link_to 'DECLINE', decline_booking_path(activity.booking), method: :patch%>
                <% elsif activity.booking.status == 'declined' %>
                    <h6>Booked by <%= activity.booking.user.first_name %></h6>
                    <%= link_to 'ACCEPT', accept_booking_path(activity.booking), method: :patch%>
                <% elsif activity.booking.status == 'cancelled' %>
                     <h6><%= activity.booking.user.first_name %> cancelled, bye bish </h6>
                <% end %>
              <% end %>
            </div>
          </div><!-- </a> -->

        <div class="property-description">
          <h5> <%= activity.name %> </h5>
          <p> <%= activity.description %>
            <br><strong><%= activity.price %>$</strong></br>
            <br> <i> 🧭 Happening in <%= activity.city %> </i>/<br>
            <br>
              <% if activity.booking.status == 'pending' %>
                  🕰️ Still waiting for a booking
              <% elsif activity.booking.status == 'accepted' %>
                  🕰️ Wanted on <%= activity.booking.date %>
                  <%= link_to 'DECLINE', decline_booking_path(activity.booking), method: :patch%>
              <% elsif activity.booking.status == 'declined' %>
                 Booked by <%= activity.booking.user.first_name %>
              <% elsif activity.booking.status == 'cancelled' %>
              <% end %>
            <br>
          </p>
        </div>

          <div class="property-social-icons">
            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
            <%= link_to 'DELETE', activity_path(activity), method: :delete %>
          </div>
      </div>
    <% end %>
<!--   </li>
</ul> -->

