<!--
<div id="hello"><h1> Hi <%= @user.first_name %> <%= @user.last_name %> ! </h1></div>-->
<div class="welcome">
 <h1> Welcome <%= @user.first_name %> <%= @user.last_name %> 🧙 </h1>
</div>

<!-- <h2>My activities</h2> -->
<section>
  <div id="light"></div>
  <div id="dumbledore">
    <p class="quote" id="part1"> Magic </p>
    <p class="quote" id="part2"> activities</p>
    <p class="quote" id="part3">by you 🔮</p>
  </div>
</section>


<section>
  <div class="center">
<!--   <ul style="list-style-type:none">
    <li> -->
    <% @activities.each do |activity| %>
      <div class="property-card">
        <!-- <a href="#"> -->
          <div class="property-image" style="background-image: url('<%= cl_image_path activity.photo.key %>');">
            <div class="property-image-title">
              <% if activity.booking.present? %>
                <% if activity.booking.status == 'pending' %>
                    <h6>Booked by <%= activity.booking.user.first_name %></h6>
                    <%= link_to 'ACCEPT', accept_booking_path(activity.booking), method: :patch%>
                    <%= link_to 'DECLINE', decline_booking_path(activity.booking), method: :patch%>
                <% elsif activity.booking.status == 'accepted' %>
                    <h6>Booked by <%= activity.booking.user.first_name %></h6>
                    <%= link_to 'DECLINE', decline_booking_path(activity.booking), method: :patch%>
                <% elsif activity.booking.status == 'declined' %>
                    <h6>Booked by <%= activity.booking.user.first_name %></h6>
                    <%= link_to 'ACCEPT', accept_booking_path(activity.booking), method: :patch%>
                <% elsif activity.booking.status == 'cancelled' %>
                     <h6><%= activity.booking.user.first_name %> cancelled, bye bish </h6>
                <% end %>
              <% end %>
            </div>
          </div><!-- </a> -->

        <div class="property-description">
          <h5> <%= activity.name %> </h5>
          <p> <%= activity.description %>
            <br><strong><%= activity.price %>$</strong></br>
            <br>
            🧭 Happening in <%= activity.city %>
            <br>
             <% if activity.booking.present? %>
              <% if activity.booking.status == 'pending' %>
                  🕰️ Still waiting for a booking
              <% elsif activity.booking.status == 'accepted' %>
                  🕰️ Wanted on <%= activity.booking.date %>
              <% elsif activity.booking.status == 'declined' %>
                 🕰️ You refused to do it on <%= activity.booking.date %>
              <% elsif activity.booking.status == 'cancelled' %>
                👻 Oops, your buddy cancelled
              <% end %>
              <% end %>
            <br>
          </p>
        </div>

          <div class="property-social-icons">
            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
            <%= link_to 'DELETE', activity_path(activity), method: :delete %>
          </div>
      </div>
<% end %>
</section>






<section>
<!-- <h2>My bookings</h2> -->
  <div id="light"></div>
  <div id="dumbledore">
    <p class="quote" id="part1">Discover </p>
    <p class="quote" id="part2">your</p>
    <p class="quote" id="part3">bookings 🛎️</p>
  </div>
</section>



<section>
  <div class="center">
    <% @bookings.each do |booking| %>
      <div class="property-card">
        <!-- <a href="#"> -->
          <%= link_to activity_path(booking.activity.id) do %>
          <div class="property-image">
            <div class="property-image-title">
               <h6>Proposed by <%= booking.activity.user.first_name %></h6>
            </div>
          </div><!-- </a> -->
          <% end %>

        <div class="property-description">
          <h5>  <%= link_to booking.activity.name, activity_path(booking.activity.id) %> </h5>
          <p> <%= booking.activity.description %>
            <br><strong><%= booking.activity.price %>$</strong></br>
            <br>
             🧭 Happening in <%= booking.activity.city %>
            <br> You booked on <%= booking.date %></br>
          </p>

        </div>

          <div class="property-social-icons">
            <!-- I would usually put multipe divs inside here set to flex. Some people might use Ul li. Multiple Solutions -->
            <%= link_to 'CANCEL', cancel_booking_path(booking), method: :patch %>
          </div>
      </div>
    <% end %>


</section>













