<section id="home">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.yesiwantit.com/blog/wp-content/uploads/2019/09/harry-potter-and-friends-in-one-of-the-earlier-movies-1250x600.jpeg);">

    <div class="container">
      <h1>Find your wizzie</h1>
      <div class="input">
        <%= form_for :activities, url: activities_path, method: :get, html: { class: "form"} do |f| %>
          <%= f.select :theme, options_for_select(@themes), include_blank: "Theme"%>
          <%= f.text_field :name, placeholder: "Activity"%>
          <%= f.text_field :city, placeholder: "City"%>
          <button type="submit" class="spell-card">

              <div class="spell-card__shape">
                <div class="spell-card__trace" style="background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/aguamenti.svg');"></div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 201 117.05">
                  <clipPath id="clip-aguamenti">
                    <path d="M21,139s-1,24,30,32c28.83,7.44,58.34-38.49,61.63-45.22.29-.61,29.53-47,51.19-54.41.65-.22,43.46-16.21,58.18,31.63,0,0-.25-.69-.78-1.87-9.33-20.51-34.05-28.73-54.07-18.36A53.11,53.11,0,0,0,154,92c-11.69,11.69-48.35,63.55-48.76,64.14C101.44,161.61,83.84,185,60,185c0,0-19,5-31-12C29,173,21,164,21,139Z"/>
                  </clipPath>
                    <path clip-path="url(#clip-aguamenti)" class="trace-motion" fill="none" stroke="#ddfffb" stroke-miterlimit="10" stroke-width="14" d="M21.14,141.53S25,181,60,181c0,0,15,1,32-17s36-46,39-54c0,0,25-34,40-34,0,0,29-15,48,21" transform="translate(-21 -68.63)"/>
                </svg>
              </div>
              <div class="spell-card__name">
                <%= image_tag image_url("magic_wand.png"), alt: "magic-wand-button", class: "magic-wand" %>
              </div>
            </button>
      </div>
        <% end %>
    </div>
  </div>

<div class="element-sentence-container">
  <div class="element-sentence">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  </div>
</div>

<div class="element-about-container">
  <div clas="element-about-text">
    <h3>À propos</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
  <img src="https://i2-prod.hertfordshiremercury.co.uk/whats-on/article934747.ece/ALTERNATES/s615/Harry-Potter-4.jpg" alt="Hogwart wizard">
</div>

<div class="element-themes-container">
  <div class="element-themes" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.telegraph.co.uk/content/dam/films/2016/11/15/halfblood_trans_NvBQzQNjv4BqGJpW-0BB12mTXpq6uZH8cyWhXOmRAq6WUjsSs40wdYk.jpg?imwidth=480)">
        Sport
  </div>

  <div class="element-themes" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://static1.puretrend.com/articles/3/91/27/3/@/1026168-le-bal-de-noel-dans-harry-potter-et-580x0-1.jpg)">
        Event
  </div>

  <div class="element-themes" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.huffingtonpost.com/asset/5bb4da912100002501c8249b.jpeg?ops=scalefit_630_noupscale)">
        Leisure
  </div>

  <div class="element-themes" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://awol.junkee.com/wp-content/uploads/2017/02/Forest.jpg)">
        Outdoors
  </div>

</div>
