<div class="container-activities">
<h1> All activities 🧙‍♀️ </h1>
    <div class="activities">
<!--       <%# @activities.each do |activity| %>
        <div class="activity">
          <%#= link_to activity.name, activity_path(activity) %>
s
        </div>
      <%# end  %> -->
      <% @activities.each do |activity| %>
        <div class="card" style="width: 18rem;">
          <% if activity.photo.attached? %>
            <%= cl_image_tag activity.photo.key, height: 300, width: 400, class: "card-img-top" %>
            <% else %>
            <%= image_tag "https://static.papergeek.fr/2017/03/harry-potter-poudlard-sorciers-angleterre.jpg", class: "card-img-top"  %>
          <% end %>
          <div class="card-body">
            <h5 class= "card-title">  <%= activity.name %></h5>
            <p class= "card-text">  <%= activity.description %></p>
          </div>
            <%= link_to "voir plus", activity_path(activity), class: "btn btn-primary btn-index" %>
            // mettre ville & prix(mymy) //
        </div>
      <% end %>
    </div>
</div>
