
<div class="container-new-activity">


  <div class="form-new-activity">

    <h3>Create a new witchery activity</h3>

    <div class="input-new-activity">

      <%= simple_form_for [@activity] do |f| %>

        <div class="element-form-new-activity">
          <%= f.input :name %>
          <%= f.association :theme %>
          <%= f.input :city %>
          <%= f.input :price %>
        </div>

        <%= f.input :description %>
        <%= f.input :photo, as: :file %>
        <%= f.submit "Create witchery activity", class: "button" %>
      <% end %>

    </div >

    <%= link_to "Back to list", activities_path %>

  </div>




</div>
