
<div class="container-new-activity">


  <div class="form-new-activity">
    <h3>Create a new witchery activity</h3>
    <div class="input-new-activity">
      <%= simple_form_for [@activity] do |f| %>
        <div class="element-input-1-form">
          <%= f.input :name %>
          <%= f.association :theme %>
          <%= f.input :city %>
          <%= f.input :price %>
        </div>
        <div class="element-input-2-form">
          <%= f.input :description %>
          <%= f.input :photo, as: :file %>
        </div>
    </div >
        <%= f.submit "Create witchery activity", class: "btn btn-primary w-30 mb-10" %>
      <% end %>

    <%= link_to "Back to list", activities_path %>
  </div>
</div>
