<div class="show-container">

  <h2>You want to experience...</h2>

  <div class="cards-container">

    <h1> <%= @activity.name %></h1>

    <div class="cards-activity">

        <div class="activity-info">

          <div class="activity-info-img">
            <% if @activity.photo.attached? %>
            <%= cl_image_tag @activity.photo.key, height: 300, width: 400, crop: :fill %>
            <% end %>
          </div>

          <div class="activity-info-text">
            <p><%= @activity.description %></p>
            <h4 id="city-name"><%= @activity.city %></h4>
            <h3><%= @activity.price%> €</h3>
          </div>

        </div>

        <div class="card-booking">
            <%= simple_form_for [@activity, @booking] do |f| %>
            <%= f.input :date, input_html: { class: "column-date" } %>
            <%= f.button :submit, "Book now", class: "btn btn-primary" %>
            <% end %>
        </div>

    </div>

  </div>


  <%= link_to 'Back to list', activities_path, class:"btn-back ml-2"%>

</div>
