<h1>Activity</h1>
<h1> <%= @activity.name %></h1>
<h2> <%= @activity.city %> </h2>
<h3><%= @activity.price %></h3>
<p><%= @activity.description %></p>


  <%= link_to 'Back to list', activities_path %>


<%= simple_form_for [@activity, @booking] do |f| %>
<%= f.input :date, as: :date %>
<%= f.submit %>
<% end %>

